src/META-INF/wsdl/localhost_31374/ServerWS/WebServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WebServer">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:31374/ServerWS/WebServer?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="liste">
<part name="parameters" element="tns:liste"/>
</message>
<message name="listeResponse">
<part name="parameters" element="tns:listeResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getLogin">
<part name="parameters" element="tns:getLogin"/>
</message>
<message name="getLoginResponse">
<part name="parameters" element="tns:getLoginResponse"/>
</message>
<portType name="WebServer">
<operation name="add">
<input wsam:Action="http://service/WebServer/addRequest" message="tns:add"/>
<output wsam:Action="http://service/WebServer/addResponse" message="tns:addResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://service/WebServer/updateRequest" message="tns:update"/>
<output wsam:Action="http://service/WebServer/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://service/WebServer/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://service/WebServer/deleteResponse" message="tns:deleteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service/WebServer/delete/Fault/Exception"/>
</operation>
<operation name="liste">
<input wsam:Action="http://service/WebServer/listeRequest" message="tns:liste"/>
<output wsam:Action="http://service/WebServer/listeResponse" message="tns:listeResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service/WebServer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service/WebServer/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getLogin">
<input wsam:Action="http://service/WebServer/getLoginRequest" message="tns:getLogin"/>
<output wsam:Action="http://service/WebServer/getLoginResponse" message="tns:getLoginResponse"/>
</operation>
</portType>
<binding name="WebServerPortBinding" type="tns:WebServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="liste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServer">
<port name="WebServerPort" binding="tns:WebServerPortBinding">
<soap:address location="http://localhost:31374/ServerWS/WebServer"/>
</port>
</service>
</definitions>